.btns{
        background: #2dd881;
        color: #f4f4f9;
        font-weight: bold;
        font-size: x-large;
        width: calc(90% - 30px);
        height: 40px;
        border-radius: 5px 20px 5px 20px;
        margin-top: 20px;
        margin-left: 8%;
    }

.tron{
        background: #1D1C39;
        color: #ff22b1;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border-radius: 50px 50px 50px 50px;
        margin-top: 20%;
        padding-top: 10px;
    }

.head{
    color: #f4f4f9;
    background: #2dd881;
    border-radius: 20px 20px 20px 20px;

   
}
