body{
    background: #4bb3fd;
}

.cardHead {
    color: #f4f4f9;
   
    
}

.btns{
    background: #2dd881;
    color: #f4f4f9;
    font-weight: bold;
    border-radius: 5px 20px 5px 20px;
}

.crd{
    border: 2px #2dd881;
    border-radius: 0px 0px 30px 30px;
}

.cbody{
    border-radius: 0px 0px 30px 30px;
    
}


#tron{
    background: #4bb3fd;
    color: #f4f4f9;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 50px 50px 50px 50px;
}



#tab1{ 
    color: #ff22b1;
    border:solid 1px #ff22b1; 
    border-bottom: 0; 
    background-color:#1D1C39; 
    padding-left: 8.1em; 
    padding-right: 8.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tab2{ 
    color: #ff22b1;
    border:solid 1px #ff22b1; 
    border-bottom: 0; 
    background-color:#1D1C39; 
    padding-left: 8.1em; 
    padding-right: 8.1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#tab1.active{
    color: #1D1C39;
    background:#ff22b1
}

#tab2.active{
    color: #1D1C39;
    background:#ff22b1
}








