:root {
  --primary-color: #1d1c39;
  --complete-color: #27aa80;
  --text-color: #4bb3fd;
  --disabled-color: #fad6d6;
  --background-color: #f5eaea;
}

/* html {
    background: rgb(0,73,191);
    background: linear-gradient(90deg, #1d1c39 , #ff22b1 50%, #1d1c39 100%);
} */

body {
  color: var(--text-color);
  font-family: sans-serif;
  margin: 0;
}

a {
  color: unset;
  text-decoration: unset;
  cursor: pointer;
}

p {
  margin: 10px 0;
  overflow-wrap: break-word;
  text-align: left;
}

label {
  font-size: 16px;
  display: block;
}

button,
input {
  padding: 4px;
  border: 1px solid var(--disabled-color);
}

button {
  outline: none;
  background: transparent;
  border-radius: 5px;
  color: var(--primary-color);
  transition: all ease 0.8s;
  cursor: pointer;
}

button.active {
  color: var(--primary-color);
}

button.active:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  padding-top: 4px;
  border-bottom: 1px solid var(--primary-color);
}

input:focus {
  outline: none;
}

select {
  outline: none;
  height: 40px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item {
  font-size: 15px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
  background-color: white;
}

.item:hover {
  cursor: pointer;
}

.item-title {
  font-weight: 600;
  font-size: 16px;
}

.item-status {
  text-align: right;
}

.color-bar {
  width: 40px;
  height: 10px;
  border-radius: 5px;
}

.drop-wrapper {
  flex: 1 25%;
  width: 100%;
  height: 100%;
}
.col-wrapper {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  background-color: var(--background-color);
  border-radius: 5px;
}

.col-header {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
}

.col {
  min-height: 300px;
  max-width: 300px;
  width: 300px;
}

.highlight-region {
  background-color: #2dd881;
}

.page-header {
  background-color: #1d1c39;
  padding: 20px;
  color: white;
  font-size: 30px;
  flex: 1 100%;
  margin-top: 0;
  text-align: center;
}

.modal-new {
  background-color: #f4f5f9;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.close-btn-ctn {
  display: flex;
}

.close-btn {
  height: 40px;
  width: 35px;
  font-size: 20px;
  color: #2dd881;
  border: none;
  border-radius: 25px;
}

.close-btn:hover {
  background-color: #dcdcdc;
}

.showLoading {
  display: inline-block;
}

.hideLoading {
  display: none;
}

.aboveKanban {
  height: 60vh;
}

.projectControl {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.projectControlMenu {
  background-color: #4bb3fd;
}

.projectControlMenu:hover,
.projectControlMenu:active,
.projectControlMenu:focus {
  background-color: #4bb3fd !important;
  font-weight: bold;
}
#ProjectDropMenu {
  left: auto;
  right: 0px;
}

.TeamAndMessages {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.userData {
  vertical-align: initial !important;
}

.tableCont {
  background: #4bb3fd;
  border-radius: 7px;
  padding: 20px;
  color: white;
  min-width: 390px;
}

.delUser {
  margin-right: 0;
}

.messages {
  background-color: white;
  border-radius: 7px;
  min-width: 390px;
  padding: 20px;
  min-height: 242px;
}

.TeamAndMessages {
  padding: 20px;
}

.messageArea {
  color: #ff22b1;
  min-height: 180px;
}

#postMessage {
  background-color: #4bb3fd;
}
